@page
@using Microsoft.AspNetCore.Identity
@using Poltorachka.Domain
@using Poltorachka.Pages
@inject UserManager<ApplicationUser> UserManager

@model Poltorachka.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<table class="table">
    <thead>
    <tr>
        <th>
            When
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Creator
        </th>
        <th>
            Approver
        </th>
        <th>
            Amount
        </th>
        <th>
            Status
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var fact in Model.Facts)
    {
        <tr>
            <td>@fact.Date.ToShortDateString() 
                @if ((DateTime.UtcNow - fact.Date).TotalMilliseconds < TimeSpan.FromDays(1).TotalMilliseconds)
                {
                    <span class="label label-info">New</span>
                }
            </td>
            <td>@fact.LoserName</td>
            <td>@fact.WinnerName
                @switch (fact.Score)
                {
                    case byte score when (score == 2):
                        <span class="label label-success">2x combo</span>
                        break;
                    case byte score when (score == 3):
                        <span class="label label-success">3x combo</span>
                        break;
                    case byte score when (score >= 4 && score <= 5):
                        <span class="label label-warning">headshot</span>
                        break;
                    case byte score when (score >= 5):
                        <span class="label label-danger">unstoppable</span>
                        break;
                }
            </td>
            <td>@fact.CreatorName</td>
            <td>@fact.ApproverName</td>
            <td>@fact.Score
            </td>
            <td>
                @if (User.IsInRole(Roles.CreateAndEditFacts) && fact.Status == FactStatus.Pending)
                {
                    <a asp-page="./Facts/FactEdit" asp-route-id="@fact.FactId">@fact.Status.ToString()</a>
                }
                else
                {
                    @fact.Status.ToString()
                }
            </td>
        </tr>
    }
    </tbody>
</table>
@if (User.IsInRole(Roles.CreateAndEditFacts))
{
    <div>
        <a asp-page="./Facts/Fact" class="btn btn-primary">Register</a>
    </div>
}
